body{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.main-navigation{
    border: 2px solid black;
    border-radius: 45px;
    display: flex;
    width: 90%;
    /* padding: 15px; */
    align-items: center;
    position: sticky;
    z-index: 1000;
    background-color: white;
    top: 20px;
    
    

}
.main-navigation-heading{
    border: 2px solid green;
    
    width: 15%;
}


.main-navigation-menu{
    border: 2px solid gray;
    width: 70%;
    
    
    
    
}

.main-navigation-menu ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    
}
.main-navigation-menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.main-navigation-menu ul li a:hover {
    color: blue;
    
}

.main-navigation-daynight{
    border: 2px solid pink;
    width: 15%;
}







/* Hero Section */
.main-herosection{
    border: 2px solid purple;
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.main-herosection-container{
    border: 2px solid green;
    border-radius: 15px;
    width: 85%;
    height: 450px;
    display: flex;
    background-color: white;
    box-shadow: 4px;

}
.main-herosection-container-left{
    border: 2px solid magenta;
    flex: 1.2;
}
.main-herosection-container-left-heading{
    font-size: 250%;
    padding-left: 15px;
    line-height: 75%;
    font-weight: bold;

}
.main-herosection-container-left-button{
    border: 2px solid black;
    margin-top: 100px;
    margin-left: 45px;
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    border-radius: 6px;
}

.main-herosection-container-right{
    border: 2px solid violet;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.main-herosection-container-right img{
    height: 80%;
    width: 80%;
    object-fit: cover;
}








/* About Section */
.main-aboutsection{
    border: 2px solid gold;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.main-aboutsection-container{
    border: 2px solid green;
    width: 85%;

}




.box{
    border: 2px solid greenyellow;
    height: 1450px;
    width: 50%;
}
